.add .dayOfWeek h2 {
  color: white;
  font-size: 1.3em;
  text-align: left;
  font-weight: 100;
}

.add .dayOfWeek hr {
  background: #444;
  padding: 1px 0;
  border: none;
  margin: 48px 0;
}

.add .top {
  height: 63px;
  display: flex;
  align-items: center;
}

.add .top h2 {
  margin: 0;
}

@media (min-width: 768px) {
  .add .day-setter {
    width: 100vw;
  }
}

.add .blue {
  font-weight: bold;
}

.add .days-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
  width: 100%;
}

.add .dayOfWeek {
  width: 420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.add .day {
  font-size: 1.1em;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px #999;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: #000;
  background-color: white;
  box-shadow: inset 0 0 15px #444, 1px 3px 6px rgba(0, 0, 0, 0.6);
  padding: 12px 8px;
  outline: none;
  height: 60px;
}

.add .highlighted {
  background: var(--color1);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px var(--color2);
  color: white;
}

.add .everyXdays {
  border: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  align-items: center;
  grid-gap: 8px;
}

.add .every {
  text-align: right;
}

.add .digit-display {
  width: 100px;
}

.add .select span {
  margin: 0 8px;
}

.add .select {
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 10px 20px;
  user-select: none;
  outline: none;
  background: -moz-linear-gradient(top, var(--color1) 0%, var(--color2) 100%);
  background: -webkit-linear-gradient(
    top,
    var(--color1) 0%,
    var(--color2) 100%
  );
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6), inset -2px -2px 5px var(--color2);
  background: linear-gradient(to bottom, var(--color1) 0%, var(--color2) 100%);
  text-shadow: -1px -1px 2px var(--color1), 0 2px 7px var(--color2);
}

.add .select.all .none {
  display: none;
}

.add .select.none .all {
  display: none;
}

.all:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), inset -2px -2px 5px var(--color2);
}

.fromNowTop {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 16px;
  align-items: center;
  padding: 0 6px;
}

.digit-display {
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  font-size: 1.4em;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: monospace;
  cursor: pointer;
  border: 4px solid var(--color1);
}

.digit-display:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.digital-time {
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: monospace;
  cursor: pointer;
  border: 4px solid #2c5cd6;
}

.digital-time:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.add {
  max-width: 920px;
  margin: 0 auto;
}

.add h1 {
  color: white;
  font-weight: 100;
  font-size: 35px;
  margin-bottom: 0;
  text-align: center;
}

.add h2 {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  margin: 20px 0 10px 0;
}


.clock-face {
  position: relative;
  height: 280px;
  width: 280px;
  margin: 20px auto;
  box-shadow: 1px 2px 6px #222;
  background-color: #fff;
  border: 10px solid var(--color1);
  border-radius: 100%;
  cursor: pointer;
}

.clock-face:active, .clock-face:active .inner {
  background-color: #dedede;
}


.time-setter {
  height: 410px;
}
.time-setter:before,
.time-setter:after,
.marker {
  content: "";
  position: absolute;
  width: 24px;

  /* width of 12-6 and 3-9 markers */
  height: 100%;

  /* background: #ccc; */
  z-index: 0;
  left: 50%;
  margin-left: -12px;

  /* set this value of 1/2 marker width */
  top: 0;
}

.time-setter:after {
  transform: rotate(90deg);
}

.clock-face > .inner {
  background: white;
  position: relative;
  width: 84%;
  height: 84%;
  background: white;
  border-radius: 100%;
  z-index: 1;
  left: 8%;
  top: 8% /* set this value of 1/2 height value*/;
  pointer-events: none;
}

.center {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--color1);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  z-index: 2;
  pointer-events: none;
}

.hour {
  pointer-events: none;
  user-select: none;
}

.minuteHand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -110px;
  height: 110px;
  width: 4px;
  background-color: #000;
  transform: rotate(15deg);
  transform-origin: 50% 100%;
  pointer-events: none;
}

.hourHand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -70px;
  height: 70px;
  width: 4px;
  background-color: var(--color1);
  transform: rotate(45deg);
  transform-origin: 50% 100%;
  pointer-events: none;
}

.hour3 {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 0px;
  text-align: center;
  z-index: 2;
}

.hour9 {
  width: 24px;
  height: 24px;

  /* margin-left: -12px; */
  margin-top: -12px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 2;
}

.hour6 {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 250px;
  left: 50%;
}

.hour12 {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 4px;
  left: 50%;
}

.text-input input {
  text-align: center;
}

.marker {
  background: #444;
  width: 6px;

  /* width of all other markers */
  margin-left: -3px;

  /* set this value of 1/2 marker width */
  pointer-events: none;
}

.marker.oneseven {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.marker.twoeight {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.marker.fourten {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.marker.fiveeleven {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}


.day-setter {
  padding: 8px 4px;
  height: 420px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-wizard {
  display: block;
  width: inherit;
  padding: 8px 0 0 0;
  overflow-x: hidden;
}

.form-wizard .slider {
  width: 100000px;
  position: relative;
  transition: transform 300ms;
}

.form-wizard .slider > .page {
  float: left;
  width: 100vw;
}

@media (min-width: 768px) {
  .form-wizard .slider {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  .form-wizard .slider > .page {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .form-wizard.page_0 .slider {
    transform: translateX(0)
  }

  .form-wizard.page_1 .slider {
    transform: translateX(-100vw)
  }
}

.form-wizard .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  padding: 0 30px 16px 30px;
}


@media (min-width: 768px) {
  .form-wizard .buttons {
    display: none;
  }
}

.form-wizard .wizard-button {
  font-size: 18px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px #999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  padding: 16px 0;
  outline: none;
}

.days {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.time {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.wizard-button.active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), inset -2px -2px 5px #0000ff;
}

.highlighted {
  background: var(--color1);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px var(--color2);
}

.number-pad {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
  width: 350px;
  display: none;
}

.number-pad .button {
  border-radius: 6px;
  border: none;
  padding: 12px 8px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  box-shadow: inset 0 0 15px #444, 1px 3px 6px rgba(0, 0, 0, 0.6);
}

.number-pad .button:hover {
  background-color: #ccc;
}

.number-pad .button:active {
  box-shadow: inset 0 0 15px #444, 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.back img,
.close img {
  height: 26px;
}

.back,
.close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-button {
  padding: 0;
  display: flex;
  justify-content: center;
}

.post-button button {
  text-decoration: none;
  width: 100%;
  max-width: 330px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 6px;
  text-align: center;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  background: -moz-linear-gradient(top, #2c5cd6 0%, #061bb9 100%);
  background: -webkit-linear-gradient(top, #2c5cd6 0%, #061bb9 100%);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6), inset -2px -2px 5px #0000ff;
  background: linear-gradient(to bottom, #2c5cd6 0%, #061bb9 100%);
  text-shadow: -1px -1px 2px #2c5cd6, 0 2px 7px #061bb9;
  font-weight: 600;
  text-transform: uppercase;
}

.post-button button:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), inset -2px -2px 5px #0000ff;
}

.digital-time {
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  font-size: 38px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: monospace;
  cursor: pointer;
  border: 4px solid #2c5cd6;
}

.digital-time:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 63px;
  grid-gap: 0;
  width: 100%;
}

.radio-buttons .button {
  font-size: 18px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px #999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  padding: 4px 0;
  outline: none;
  background: #444;
  margin: 0;
}

.radio-buttons .button:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.radio-buttons .button:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.radio-buttons .highlighted {
  background: var(--color1);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2), inset 0 0 5px var(--color2);
}

.time-setter.digits .clock-face {
  display: none;
}

.time-setter.digits .number-pad {
  display: grid;
}
