.logs {
  margin-bottom: 60px;
}

.logs > .inner {
  border-radius: 8px;
  background: #eee;
  max-width: 640px;
  margin: 0 auto;
  color: #444;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.scrollable {
  max-width: 600px;
  margin: 20px;
  overflow: auto;
}
