* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 1em;
  margin: 0;
  padding: 0px;
  font-family: Helvetica;
  --color1: #2c5cd6;
  --color2: #061bb9;
}

h1 {
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

.spotbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #333;
}

body > .page {
  margin: 20px auto;
  display: none;
}

body.add .page.add,
body.list .page.list,
body.setup .page.setup,
body.logs .page.logs,
body.diag .page.diag {
  display: block;
}
